<!-- header begin -->
<div class="homepage">
    <header>
        <div class="header-section">
            <div class="logo-image">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="menu-bar">
                <ul class="d-flex p-0 mb-0" style="list-style: none;">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#value">Values</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- <router-outlet></router-outlet> -->
    <!-- Banner Image Section -->
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <div class="banner-image-section" id="home">
            <div class="banner-1">
                <video autoplay muted loop id="myVideo" autoplay="autoplay" loop="loop" [muted]="'muted'">
                    <source src="assets\videos\production ID_4496268.mp4" type="video/mp4">
                </video>
                <div class="container">
                    <div class="banner-title">
                        <h1>
                            We'll Help Your Business Grow.</h1>
                        <h5>Improve Your Website Traffic With New Design<br>&amp; Relevant First Page Ad &amp; SEO
                            Positions
                            Today.
                        </h5>
                        <h5>Our team of digital marketing experts can help generate you more customers, <br> web
                            traffic,
                            brand
                            awareness and create fantastic websites from only £120.</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="elementor-container">
                <div class="elementor-widget-container">
                    <h1 class="elementor-heading-title elementor-size-default">Integrated
                        Marketing<br>Communications</h1>
                </div>
                <div class="bottom-elementor-widget-container">
                    <h4>We provide all our clients with the best and most cost-effective marketing and PR advice and
                        support, helping your business achieve its sales objectives in Britain and overseas.</h4>
                    <p>In partnership with you, we can design and deliver an effective marketing programme,
                        integrating our outstanding communications strategies to make a real impact on your
                        business. We’ll roll up our sleeves and get stuck in to help your organisation achieve the
                        results it needs.</p>
                </div>
            </div>
        </div>
        <!-- End Banner Image -->

        <div class="container" id="service">
            <section class="what-we-do mt-5">
                <div class="row">
                    <div class="mb-3">
                        <div class="content-section">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="what-we-do-img">
                                        <img src="../assets/images/banner_image3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="heading">
                                                <h1>WHAT WE DO</h1>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="content">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
                                                    dolores
                                                    exercitationem veritatis ipsa cumque temporibus inventore ipsam
                                                    praesentium
                                                    repellendus? Eaque ea rerum alias dolorem perspiciatis eveniet
                                                    deleniti
                                                    maiores praesentium sequi!</p>
                                                <p>Our writers, designers and producers create content that helps
                                                    clients
                                                    achieve a wide range of business outcomes:
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                                                    voluptatum,
                                                    et
                                                    quos sunt perspiciatis ea eaque maxime quam adipisci eveniet
                                                    consequuntur
                                                    amet, nihil cum eligendi sed! Rem doloribus quos velit.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div class="listing-section" id="value">
            <div class="container">
                <section class="list-card my-5">
                    <div class="row">
                        <div class="col-4">
                            <!-- <div class="card"> -->
                            <div class="body">
                                <div class="card-img">
                                    <img src="assets/icons/icons8-marketing-64.png" alt="">

                                </div>
                                <h5 class="card-title">Marketing</h5>
                                <div class="flip-box overlay">
                                    <div class="flip-box-description">
                                        We pride ourselves on providing a flexible and bespoke service to each
                                        client, adapting our services to suit your budget and time frame. We tailor
                                        our marketing strategies and services to help your company achieve its
                                        business objectives.

                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="col-4">
                            <!-- <div class="card"> -->
                            <div class="body">
                                <div class="card-img">
                                    <img src="assets/icons/audience.png" alt="">
                                </div>
                                <h5 class="card-title">RR</h5>
                                <div class="flip-box overlay">
                                    <div class="flip-box-description">

                                        Our diligent and creative approach to public relations ensures that your company
                                        benefits from strategic advice and implementation of innovative business
                                        solutions
                                        to raise your profile through the media.

                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="col-4">
                            <!-- <div class="card"> -->
                            <div class="body">
                                <div class="card-img">
                                    <img src="assets/icons/social-media.png" alt="">
                                </div>
                                <h5 class="card-title">
                                    Social Media </h5>
                                <div class="flip-box overlay">
                                    <div class="flip-box-description">
                                        A strong and active social media presence can be one of the most effective forms
                                        of
                                        marketing, positioning and promoting your capabilities to a vast audience and
                                        large
                                        numbers of stakeholders. Aro can create and manage profiles, freeing up your
                                        valuable time.
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-4">
                            <!-- <div class="card"> -->
                            <div class="body">
                                <div class="card-img">
                                    <img src="assets/icons/copywriting.png" alt="">
                                </div>
                                <h5 class="card-title">Copywriting</h5>
                                <div class="flip-box overlay">
                                    <div class="flip-box-description">
                                        Here at Aro, the team are a mix of PR, marketing and journalism professionals
                                        who
                                        have extensive experience in producing copy for a wide range of outlets,
                                        including
                                        news releases and websites. Our understanding of the industry enables us to
                                        write
                                        compelling copy for a variety of channels.
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="col-4">
                            <!-- <div class="card"> -->
                            <div class="body">
                                <div class="card-img">
                                    <img src="assets/icons/brand-awareness.png" alt="">
                                </div>
                                <h5 class="card-title">
                                    Forensic Leads & Awareness</h5>
                                <div class="flip-box overlay">
                                    <div class="flip-box-description">
                                        Are you looking for an effective way to reach new markets, generate leads and
                                        build
                                        awareness? Aro’s Forensic Leads &amp; Awareness can do just that through social
                                        media advertising and Pay Per Click (PPC) campaigns.
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="col-4">
                            <!-- <div class="card"> -->
                            <div class="body">
                                <div class="card-img">
                                    <img src="assets/icons/public-relations.png" alt="">
                                </div>
                                <h5 class="card-title">
                                    Media Relations</h5>
                                <div class="flip-box overlay">
                                    <div class="flip-box-description">
                                        We have successfully built strong relationships with editors and publishers both
                                        within the UK and internationally. The publications that we work with are
                                        specialists within a variety of media outlets and include specialist technical,
                                        national, regional and local media as well as all social media channels.
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <section class="our-values">
            <div class="container">
                <div class="head">
                    <h1>The Values We Stand For</h1>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="inner-desc">
                                <div class="body-head">
                                    <img src="https://www.bigimprint.com/wp-content/uploads/2017/09/friendly-150x150.png"
                                        alt="">
                                </div>
                                <div class="body-bottom">
                                    <div class="title">
                                        <h4>Friendly</h4>
                                        <p>Our approach is down-to-earth and just plain friendly. We love our clients,
                                            we
                                            love
                                            seeing you succeed, and we’re here to help.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="inner-desc">
                                <div class="body-head">
                                    <img src="https://www.bigimprint.com/wp-content/uploads/2017/09/thoughtful-150x150.png"
                                        alt="">
                                </div>
                                <div class="body-bottom">
                                    <div class="title">
                                        <h4>Thoughtful</h4>
                                        <p>We take an inquisitive, methodical approach to every project to ensure that
                                            we
                                            find
                                            the
                                            best solution possible. Keeping our clients’ best interests at heart is a
                                            way of
                                            life
                                            for us.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="inner-desc">
                                <div class="body-head">
                                    <img src="https://www.bigimprint.com/wp-content/uploads/2017/09/forthcoming-150x150.png"
                                        alt="">
                                </div>
                                <div class="body-bottom">
                                    <div class="title">
                                        <h4>Forthcoming</h4>
                                        <p>We value transparent, candid communication and contracts. Expect us to be
                                            straightforward
                                            and upfront regarding all aspects of your project, from start to finish.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 ">
                            <div class="inner-desc">
                                <div class="body-head">
                                    <img src="https://www.bigimprint.com/wp-content/uploads/2017/09/Intuitive-150x150.png"
                                        alt="">
                                </div>
                                <div class="body-bottom">
                                    <div class="title">
                                        <h4>Intuitive</h4>
                                        <p>Technology can be frustratingly complex. We aim to keep things as painless as
                                            possible.
                                            Our goal is that your experience will be simple and enjoyable.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="communication-coversion my-5 align-center">
    <div class="container">
        <div style="padding: 20px;">
            <div class="communication-heading">
                <div style="text-decoration: underline;">
                    <h3>Turns Communications into Conversion</h3>
                </div>
                <p>We Write content for your bussiness , so you can do other things</p>
            </div>
            <div class="communication-body row my-5">
                <div class="communication-card col-lg-4 col-md-6">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png"
                            alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with
                            search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png"
                            alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with
                            search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6 mt-4">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png"
                            alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with
                            search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6 mt-4">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png"
                            alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with
                            search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6 mt-4">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png"
                            alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with
                            search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6 mt-4">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png"
                            alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with
                            search engin optimization</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="marketing my-5">
        <div class="marketing-heading text-center" style="color:#31286b ;">
            <h3>We Take Content Marketing Very Seriously</h3>
            <h3>Very Seriously</h3>
        </div>
        <div class="marketing-body text-center mt-4">
            <p><strong>Content</strong> is the fuel for your marketing engine, and we are the catalysts who can get
                <br> your ideas in motion!
            </p>
            <div class="marketing-card-list row my-5">
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png"
                            alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3 text-left">Process Maturity</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png"
                            alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Content Performance</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png"
                            alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Subject Matter Focus</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png"
                            alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Subject Matter Focus</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png"
                            alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Subject Matter Focus</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png"
                            alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Subject Matter Focus</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-section my-5">
        <div class="row portfolio-row">
            <div class="col-6">
                <h2>Looking for Content Writing samples?</h2>
                <p class="text-muted">Browse through hundreds of content writing projects and case studies. If you are
                    still unable to find what you are looking for, drop us a line, and we’ll be happy to help.</p>
                <div class="btn">
                    <a href="#" class="portfolio-btn">Portfolio</a>
                </div>
            </div>
            <div class="col-6 image-section">
                <img src="https://www.lexiconn.in/wp-content/uploads/2021/02/writing-samples.png" alt=""
                    class="section-image">
            </div>
        </div>
    </section>
    <section class="my-5">
        <app-carousel></app-carousel>
    </section>
    <section class="my-5">
        <app-testimonials></app-testimonials>
    </section>
</div> -->

        <!-- <section class="portfolio-section my-5">
        <div class="row m-0">
            <div class="col-2"></div>
            <div class="col-8" style="text-align: center;">
                <div class="row career-heading" style="justify-content: center;">
                    <h2>Rewarding Careers for Content Writers</h2>
                </div>
                <div class="row">
                    <p class="text-muted">If you are looking for a rewarding career in content, and wish to grow with an
                        organization that values and encourages talent, you should definitely know more about…
                    </p>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="btn career-btn">
                        <a href="#" class="portfolio-btn">Life at Lexiconn</a>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </section> -->

        <section class="contact">
            <div class="container">
                <div class="contact-us-container row">
                    <div class="elementor-widget-container col-6">
                        <h1 class="elementor-heading-title elementor-size-default">Get In Touch</h1>
                        <div class="bottom-elementor-widget-container">
                            <h4>Let Brandtalks take your business to the next level ​</h4>
                            <p>Our diligent and creative approach ensures that your company benefits from strategic
                                advice
                                and
                                the
                                implementation of innovative business solutions.</p>
                        </div>
                    </div>
                    <form id="contact" class="col-6">
                        <div class="form-row">
                            <h1>Contact Us</h1>
                            <p>Tell us about your project and we will reply within one working day with ideas on how to
                                move
                                forward. </p>
                            <div class="d-flex">
                                <div class="form-group col-lg-6">
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control" id="contact" placeholder="Contact">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <textarea name="text" class="form-control mb-2" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="btn">
                            <button type="submit" class="btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- <section style="background: linear-gradient(to right, #fa7c41 0%, #ff6565 100%);">
        <div class="container">
            <div class="row heading-tag">
                <div class="col-12">
                    <h1 class="my-4">Get In Touch</h1>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-6 mt-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, non fugiat magnam, minus illum
                        architecto reprehenderit quam tempora vero possimus dolores aliquid ipsam aperiam quaerat?
                        Provident
                        veniam sunt id tenetur?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus molestiae tempora,
                        reiciendis
                        hic est vel vitae alias praesentium!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsum eaque fugit, nostrum modi
                        cum
                        deserunt magnam nulla blanditiis!</p>
                </div>
                <div class="col-6">
                    <form class="form-section">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control mb-2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mb-2" id="exampleInputNumber" placeholder="Phone no">
                        </div>
                        <div class="form-group">
                            <textarea name="text" class="form-control mb-2" id="" cols="30" rows="4"
                                placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn form-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section> -->
        <section class="about" id="about">
            <div class="container card">
                <div class="head">
                    <h2>A Few Words About Us</h2>
                    <p>Our company provides custom software development services to individual clients, start-ups,
                        medium
                        businesses, and large enterprises. You can find out more about who we are and what we do below.
                    </p>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-8">
                            <img src="https://blog.hubspot.com/hubfs/GettyImages-974683580.jpg" alt="" class="image">
                        </div>
                        <div class="col-4">
                            <div class="text">
                                BrandTalks offers software development solutions to business owners as well as indvidual
                                clients. Being fully equipped with the latest technologies, we deliver futuristic
                                software
                                solutions to clients globally. We employ a skilled team of UI designers and app
                                developers
                                who are totally focused on delivering high-quality software solutions, which enable our
                                customers to achieve their critical IT objectives.
                            </div>
                            <button class="learn">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <a _ngcontent-iuy-c19="" href="#" class="navbar-brand">
                            <img _ngcontent-iuy-c19="" src="assets/images/logo.png" alt="" class="logo">
                        </a>
                    </div>
                    <div class="col-5">
                        <div class="social-media">
                            <h4>Follow Us</h4>
                            <ul>
                                <li class="insta">
                                    <img src="assets/icons/instagram.png" alt="">
                                </li>
                                <li class="linkedin">
                                    <img src="assets/icons/linkedin.png" alt="">
                                </li>
                                <li class="fb">
                                    <img src="assets/icons/facebook.png" alt="">
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="company-add">
                            <h4>Contact Anytime</h4>
                            <ul>
                                <li class="contact-no">
                                    <p class="font_8"><span>Tel (UK): <span style="text-decoration:underline;"><a
                                                    href="tel:+442034885395">+44 (0)<span
                                                        style="letter-spacing:0.03em;">20&nbsp;3488
                                                        5395</span></a></span></span></p>
                                </li>
                                <li>
                                    <p class="font_8"><span>Tel (LT)</span><span>: </span><span><span
                                                style="text-decoration:underline;"><a
                                                    href="tel:+442034885395">+37061884294</a></span></span></p>
                                </li>
                                <li>
                                    <p class="font_8"><span><span style="font-weight:normal;"><span
                                                    style="letter-spacing:0.03em;">Email: <span
                                                        style="text-decoration:underline;"><a
                                                            href="mailto:hello@dimartec.co.uk?subject=About our project..."
                                                            target="_self">hello@dimartec.co.uk</a></span></span></span></span>
                                    </p>
                                </li>
                                <li>
                                    <p class="font_8"><span><span style="font-weight:normal;"><span
                                                    style="letter-spacing:0.03em;">London: 1 Primrose Street, London
                                                    EC2A 2EX</span></span></span></p>
                                </li>
                                <li>
                                    <p class="font_8"><span><span style="font-weight:normal;"><span
                                                    style="letter-spacing:0.03em;">Vilnius: 52 K. Ulvydo 5, Vilnius, LT
                                                    08354</span></span></span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<router-outlet>
</router-outlet>